
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between"> Liste des roles <button (click)="open(content)" class="btn btn-success">
        <i class="bi bi-plus-circle"> Ajouter</i>
      </button></div>

    </div>
    <div class="card-body">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th> <th>role</th>  <th> actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let liv of roles ">

            <td>{{liv.id}}</td>
            <td>{{liv.roleName}}</td>


            <td class="d-flex justify-content-around">

              <button (click)="openDelete(contentDelete,liv)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>

            <button (click)="openEdit(contentEdit, liv)" class="btn btn-warning">
              <i class="bi bi-pencil"></i>
            </button>
            <button  class="btn btn-info" (click)="openDetails(contentDetails, liv)">
              <i class="bi bi-search"></i>
            </button>

            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Role</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">

        <label for="rolename">Rolename</label>
        <div class="input-group">
          <input id="rolename" name="roleName" class="form-control" ngModel >
        </div>



      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Role Info</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body">
    <form >
      <div class="form-group">
        <label for="id">id</label>
        <div class="input-group">
          <input id="id" name="id" class="form-control"  disabled>
        </div>
        <label for="rname">RoleName</label>
        <div class="input-group">
          <input id="rname" name="rname" class="form-control" disabled >
        </div>


      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>


<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <form  [formGroup]=editForm   novalidate>
    <div class="form-group">
      <label >id</label>
      <div class="input-group">
        <input  formControlName="id" class="form-control" [disabled]="true">
      </div>
      <label for="uname1">Rolename</label>
      <div class="input-group">
        <input id="uname1" formControlName="roleName" class="form-control"  >
      </div>

      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Update</button>
        </div>


    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
</div>
</ng-template>
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
