<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between"> Liste des patisseries<button (click)="open(content)" class="btn btn-success">
        <i class="bi bi-plus-circle"> Ajouter</i>
      </button></div>

    </div>
    <div class="card-body">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th> <th>nom</th> <th>description</th> <th> solde</th> <th> modérateur</th><th>actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let pat of patisseries">

            <td>{{pat.id}}</td>
            <td>{{pat.name}}</td>
            <td>{{pat.description}}</td>
            <td>{{pat.solde}}</td>
            <td>{{pat.moderateur.username}}</td>
            <td class="d-flex justify-content-around">
              <button (click)="openDelete(contentDelete,pat)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
              <button  class="btn btn-warning" (click)="openEdit(contentEdit,pat)">
                <i class="bi bi-pencil"></i>
              </button>
              <button  class="btn btn-info" (click)="openDetails(contentDetails,pat)">
                <i class="bi bi-search"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Category</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">

        <label for="name">Name</label>
        <div class="input-group">
          <input id="name" name="name" class="form-control" ngModel >
        </div>
        <label for="description">description</label>
        <div class="input-group">
          <input id="description" name="description" class="form-control" ngModel >
        </div>
        <label for="Moderateur">Moderateur</label>
        <div class="input-group">
          <select class="form-select" name="moderateurID" ngModel>
            <option *ngFor="let user of users " value='{{user.id}}'>{{user.username}}</option>

          </select>

        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Role Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <form >
    <div class="form-group">
      <label for="id">id</label>
      <div class="input-group">
        <input id="id" name="id" class="form-control"  disabled>
      </div>
      <label for="cname">Name</label>
      <div class="input-group">
        <input id="cname" name="cname" class="form-control" disabled >
      </div>
      <label for="cdescription">Description</label>
      <div class="input-group">
        <input id="cdescription" name="cdescription" class="form-control" disabled >
      </div>
      <label for="cmoderateur">Moderateur</label>
      <div class="input-group">
        <input id="cmoderateur" name="cmoderateur" class="form-control" disabled >
      </div>


    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
</div>
</ng-template>
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <form  [formGroup]=editForm   novalidate>
    <div class="form-group">
      <label >id</label>
      <div class="input-group">
        <input  formControlName="id" class="form-control" [disabled]="true">
      </div>
      <label for="cname1">Name</label>
      <div class="input-group">
        <input id="cname1" formControlName="name" class="form-control"  >
      </div>
      <label for="cdescription">Description</label>
      <div class="input-group">
        <input id="cdescription" formControlName="description" class="form-control"  >
      </div>
      <label for="Moderateur">Moderateur</label>
        <div class="input-group">
          <select class="form-select" formControlName="moderateurID" >
            <option *ngFor="let user of users " value='{{user.id}}'>{{user.username}}</option>

          </select>

        </div>


      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Update</button>
        </div>


    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
</div>
</ng-template>
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
